.form {
    border: solid 1px #ccc;
    border-radius: .5rem;
    padding: 1rem;
    width: fit-content;

    input {
        border: 1px solid #ccc;
        border-radius: .25rem;
        padding: .5rem;
        width: 50ch;
    }

    &__field {
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        margin-block: 1rem;

        &:first-child {
            margin-block-start: 0;
        }

        label { font-weight: bold; }
    }
}