.nav-bar {
    border-block-end: solid 1px #ccc;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    &__logo span {
        color: black;
    }

    &__menu,
    &__auth-buttons,
    &__nav-links {
        align-items: center;
        display: flex;
        gap: 1rem;
    }

    &__nav-links a {
        color: black;
        text-decoration: underline;

        &:hover {
            font-weight: bold;
        }
    }
}