.stats {
    --stats-color: var(--green);

    border: solid 1px var(--stats-color);
    border-radius: .5rem;
    height: fit-content;
    padding: 1rem;

    &__description {
        font-size: 1.5rem;
        font-weight: bold;
        margin-block: .5rem .25rem;
    }

    &__value {
        color: var(--stats-color);
        font-size: 3rem;
        font-weight: bold;
        margin-block: 0;
    }
}