.blank-page {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
    
    &__content {
        display: grid;
        justify-items: center;
        padding: 3rem 1rem;
    }
}