.footer {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.766);
    color: white;
    display: grid;
    line-height: 1.5;
    padding: 2rem 1rem;
    text-align: center;

    a {
        color: white;
        text-decoration: underline;
    }
}