footer.footer
  p.footer__content
    | © 2021 Hivemind. All rights reserved. Or none. Who knows? 🤷‍♂️
    br
    | Made with ❤️ by
    =< link_to "Christina Voss", "https://github.com/ChristinaVoss", target: "_blank", rel: "noopener"

